@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

.main--base {
  width: 100%;
  display: flex;
  flex-direction: row; }

.main__nav--base {
  display: inline-block; }

.header--base {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  background-image: linear-gradient(to right, white, #b4b4b4, grey, #494949, black); }
  .header--base .header__img--size {
    width: 10%; }
  .header--base .header__img--rotate:hover {
    transform: rotateZ(-360deg);
    transition: transform 1s; }

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }

.card {
  flex: 0 0 400px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); }

.card .text {
  padding: 0 20px 20px; }

.card .text {
  background: gray;
  border: 0;
  color: white;
  padding: px;
  width: 100%; }

@media only screen and (min-width: 780px) {
  section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); } }

@media only screen and (min-width: 1060px) {
  section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; } }

.youtube-icon {
  background-image: url(../fotos/svg/youtube.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style-type: none; }

.facebook-icon {
  background-image: url(../fotos/svg/facebook.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style-type: none; }

.instagram-icon {
  background-image: url(../fotos/svg/instagram.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style-type: none; }

.mail-icon {
  background-image: url(../fotos/svg/mail.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style-type: none; }

.ul--base {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .ul--base li {
    padding: 5px; }

/* Body */
.styleBody {
  /* background-image: url(../fotos/foto\ grupo\ 3674x513.jpg);
    background-size: cover; */
  background-color: #8b8b8b;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
  letter-spacing: 2px; }

section {
  width: 100%;
  display: flex;
  justify-content: space-around; }

h1 {
  text-transform: uppercase; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas: ". ." ". ."; }
