@mixin p-c($padding, $color){
    padding: $padding;
    background-image: $color;
}

.header--base{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include p-c(10px, linear-gradient(to right, white, rgb(180, 180, 180), grey, rgb(73, 73, 73), black));
        .header__img--size{
            width: 10%;
        }
        .header__img--rotate:hover{
            transform: rotateZ(-360deg);
	        transition: transform 1s;
        }
}