@media only screen and (min-width:780px){
    section{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}

@media only screen and (min-width:1060px){
    section{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}    